<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/page_register.css" />
    <link rel="stylesheet" href="css/hwLayer.css"/>
    <script type="text/javascript" src="js/pagination.js" ></script>
    <script type="text/javascript" src="js/jquery-3.3.1.js" ></script>
    <script type="text/javascript" src="js/plug-in.js" ></script>
    <script type="text/javascript" src="js/popPage.js"></script>
    <title>Title</title>
</head>
<body>
<div>
    <div style="margin-bottom: 20px;">
    </div>
    <div style="height: 55px;">
        <input id="btn_clear" class="btn-con" type="button" value="清空" onclick="txtClear()">
        <input id="btn_search" class="btn-con" type="button" value="检索" onclick="search()">
    </div>
    <div class="the-box">
        <div class="table-responsive">
            <table id="table_example" class="table" border="1" style="text-align: center;border-color: #B0B9B8;">
                <thead class="the-box">
                <tr >
                    <td>序号</td>
                    <td>标题</td>
                    <td>发布人</td>
                    <td>类型</td>
                    <td>时间</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div>
            <div class="row ">
                <div class="page-container"></div>
            </div>

        </div>
    </div>
</div>
<div class="hw-overlay" id="hw-layer" >
    <div class="hw-layer-wrap" >
        <span class="glyphicon hwLayer-close">X</span>
        <div class="row" style="margin-top: -76px ;" >
            <div class="col-md-9 col-sm-12" style="margin-left: 60px;overflow-y:scroll">
                <p id="p_content" style="height: 160px" >
                </p>
            </div>
            <div class="col-md-9 col-sm-12" style="margin-top: 50px">
                <button class="btn btn-success hwLayer-ok" onclick="updateAuditFlg(1)" style="margin-left: 140px">审 批</button>
                <button class="btn btn-warning hwLayer-cancel" onclick="updateAuditFlg(2)">退 回</button>
            </div>
        </div>
    </div>
</div>
<a id="hide" class="btn btn-info btn-lg show-layer" data-show-layer="hw-layer" role="button" style="display: none">点击弹出层</a>
<input style="display: none" type="text" id="hid_txt">
<script>
    var pageSize = 10;
    var dataCount = 0;

    $(function(){
        findAuditInfo(1);
        paging();

    });
    function search(){
        findAuditInfo(1);
        paging();
    }
    function findAuditInfo(pageIndex){
        $.ajax({
            type:"post",
            url:"http://127.0.0.1:8080/project/news/findAudit",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            dataType:"json",
            data:{
                pageSize : pageSize,
                pageIndex :pageIndex
            },
            success:function(data){
                $("#table_example tbody").empty();
                var tbody = "";
                var backColor = "";
                if (data.success){
                    var no= pageSize *(pageIndex-1)+1
                    $.each(data.data, function(i,o) {
                        if(i%2==0){
                            backColor="#E0FFFF";
                        }else{
                            backColor = "white";
                        }
                        if(i < data.data.length - 1){
                            tbody += "<tr style='background-color:"+ backColor+"'>";
                            tbody += "<td><nobr><a onclick='getNewsInfo("+o.newsId+")'>"+ (no+i)+"</a></nobr></td>";
                            tbody += '<td><nobr>' + o.title + '</nobr></td>';
                            tbody += '<td><nobr>' + o.userId+ '</nobr></td>';
                            tbody += '<td><nobr>' + o.newsTypeName + '</nobr></td>';
                            tbody += '<td><nobr>' + getDate(o.pubTime) + '</nobr></td>';

                            tbody += '</tr>';
                        }else{
                            dataCount = parseInt(o.newsId);

                        }
                    });
                }
                $("#table_example tbody").append(tbody);
            },
            error: function() {
                $.Pop("查询发生异常",'alert',false);
            }

        });
    }
    function updateAuditFlg(flag){
        $.ajax({
            type:"post",
            url:"http://127.0.0.1:8080/project/news/changeFlg",
            xhrFields: {
                withCredentials: true
            },
            dataType:"json",
            data:{
                flag : flag,
                newsId: $("#hid_txt").val()
            },
            success:function(data){
                if (data.success){
                    paging();
                    $.Pop(data.message,'alert',false);


                }

            },
            error: function() {
                $.Pop("查询发生异常",'alert',false);
            }

        });
    }
    function getNewsInfo(newsId){
        $.ajax({
            type:"post",
            url: "http://127.0.0.1:8080/project/news/findBy",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            data:{
                newsId : newsId,
            },
            success:function(data){
                if (data.success){
                    var info = data.data[0];
                    $("#p_content").text(info.content);
                    $("#hide").click();
                    $("#hid_txt").val(info.newsId);
                }else{
                    $.Pop("错误",'alert',false);
                }

            },
            error: function() {
                $.Pop("发生异常",'alert',false);
            }
        });
    }
    function paging(){
        const pager = new Pagination('.page-container', {
            pageSize: pageSize,
            autoLoad: true,
            unit: '条',
            toPage: function (index, _pageSize) {
                // 设置记录总数，用于生成分页HTML内容
                if (index === 0 || _pageSize)
                    this.updateCount(dataCount, _pageSize)
                if(_pageSize !=null){
                    pageSize = parseInt(_pageSize);
                }
                findAuditInfo(index+1);
            }
        })

    }
    function txtClear(){
        $("#txt_lease_id").val("");
        $("#txt_lease_type").val("");
        $("#before_time").val("");
        $("#late_time").val("");
    }
    function getDate(time){
        var date = new Date(time);
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        var day = date.getDate();
        var returnTime = year + "-" + month+"-" + day;
        return returnTime;
    }
    //触发弹出层
    $('.show-layer').on('click',  function() {
        var layerid = $(this).data('show-layer');
        showLayer(layerid);
    });
    //展示层
    function showLayer(id){
        var layer = $('#'+id),
            layerwrap = layer.find('.hw-layer-wrap');
        layer.fadeIn();
        //屏幕居中
        layerwrap.css({
            'margin-top': -layerwrap.outerHeight()/2
        });
    }

    //隐藏层
    function hideLayer(){
        $('.hw-overlay').fadeOut();
    }

    $('.hwLayer-ok,.hwLayer-cancel,.hwLayer-close').on('click', function() {
        hideLayer();
    });



    //点击或者触控弹出层外的半透明遮罩层，关闭弹出层
    $('.hw-overlay').on('click',  function(event) {
        if (event.target == this){
            hideLayer();
        }
    });

    //按ESC键关闭弹出层
    $(document).keyup(function(event) {
        if (event.keyCode == 27) {
            hideLayer();
        }
    });
</script>
</body>
</html>