<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/page_register.css" />
    <script type="text/javascript" src="js/pagination.js" ></script>
    <script type="text/javascript" src="js/jquery-3.3.1.js" ></script>
    <script type="text/javascript" src="js/plug-in.js" ></script>
    <title>Title</title>
</head>
<body>
<div class="div-center">
    <div class="div-article">
        <div>
            <label id="lab_title" class="title-style"><b></b></label>
        </div>
        <div>
            <label id="lab_pub_time"></label>
            <label id="lab_news_type"></label>
        </div>
        <div>
            <label id="lab_author"></label>
        </div>
        <div>
            <p id="p_content"></p>
        </div>
        <div>
            <button id="btn_agree" style="display: none" onclick="changeAgreeNum(newsId)">赞同</button>
            <button id="btn_cancel" style="display: none;" onclick="changeAgreeNum(newsId)">已赞同</button>
            <label >点赞数</label>
            <label id="agree_num"></label>
            <button id="btn_collect" style="display: none" onclick="changeCollection(newsId)">收藏</button>
            <button id="btn_cancel_collect" style="display: none;" onclick="changeCollection(newsId)">已收藏</button>
            <label >阅读量</label>
            <label id="read_num"></label>
            <a onclick="openCommnet()">评论</a>
        </div>
    </div>
    <div class="div-comment" style="display: none" id="div_comment">
        <table id="tab_comment">
            <thead>
            <tr><input id="txt_comment" type="text"><button onclick="addComment()">评论</button></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    var flg =0;
    const newsId= getUrlParam("action");
    $(function(){
        judgeAgree(newsId);
        judgeCollect(newsId);
        getNewsInfo(newsId);
        addReadNum(newsId);
    });
    function judgeAgree(newsId){
        $.ajax({
            type:"post",
            url: "http://127.0.0.1:8080/project/news/getIsRead",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            data:{
                newsId : newsId,
            },
            success:function(data){
                if (data.success){
                    $("#btn_cancel").css("display","block");
                    $("#btn_agree").css("display","none");
                }else{
                    $("#btn_agree").css("display","block");
                    $("#btn_cancel").css("display","none");
                }

            },
            error: function() {
                $.Pop("发生异常",'alert',false);
            }
        });
    }
    function judgeCollect(newsId){
        $.ajax({
            type:"post",
            url: "http://127.0.0.1:8080/project/collection/getIsCollect",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            data:{
                newsId : newsId,
            },
            success:function(data){
                if (data.success){
                    $("#btn_cancel_collect").css("display","block");
                    $("#btn_collect").css("display","none");
                }else{
                    $("#btn_collect").css("display","block");
                    $("#btn_cancel_collect").css("display","none");
                }

            },
            error: function() {
                $.Pop("发生异常",'alert',false);
            }
        });
    }
    function getNewsInfo(newsId){
        $.ajax({
            type:"post",
            url: "http://127.0.0.1:8080/project/news/findBy",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            data:{
                newsId : newsId,
            },
            success:function(data){
                if (data.success){
                    var info = data.data[0];
                    $("#lab_title").text(info.title);
                    $("#lab_pub_time").text(getDate(info.pubTime));
                    $("#lab_news_type").text(info.newsTypeName);
                    $("#lab_author").text(info.userId);
                    $("#p_content").text(info.content);
                    $("#read_num").text(info.readNum);
                    $("#agree_num").text(info.agreeNum);

                }else{
                    $.Pop("错误",'alert',false);
                }

            },
            error: function() {
                $.Pop("发生异常",'alert',false);
            }
        });
    }
    function addReadNum(newsId){
        $.ajax({
            type:"post",
            url: "http://127.0.0.1:8080/project/news/addReadNum",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            data:{
                newsId : newsId,
            },
            success:function(data){

            },
            error: function() {
                $.Pop("发生异常",'alert',false);
            }
        });
    }

    function changeAgreeNum(newsId){
        $.ajax({
            type:"post",
            url: "http://127.0.0.1:8080/project/news/changeAgreeNum",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            data:{
                newsId : newsId,
            },
            success:function(data){
                judgeAgree(newsId);
                getNewsInfo(newsId);
            },
            error: function() {
                $.Pop("发生异常",'alert',false);
            }
        });
    }
    function changeCollection(newsId){
        $.ajax({
            type:"post",
            url: "http://127.0.0.1:8080/project/collection/changeCollection",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            data:{
                newsId : newsId,
            },
            success:function(data){
                judgeCollect(newsId);
                getNewsInfo(newsId);
            },
            error: function() {
                $.Pop("发生异常",'alert',false);
            }
        });
    }
  function openCommnet(){
        if(parseInt(flg)%2==0){
            $("#div_comment").css("display","block");
            getComment();
            flg ++;
        }else{
            $("#div_comment").css("display","none");
            flg ++;
        }
  }
  function getComment(){
      $.ajax({
          type:"post",
          url: "http://127.0.0.1:8080/project/comment/findBy",
          xhrFields: {
              withCredentials: true
          },
          data:{
              newsId : newsId,
          },
          success:function(data){
              $("#tab_comment tbody").empty();
              var tbody = "";
              if (data.success){
                  $.each(data.data, function(i,o) {
                      tbody += "<tr><td>"+ o.userId+"</td></tr>";
                      tbody += "<tr><td>"+ o.comments+"</td></tr>";
                  });
              }
              $("#tab_comment tbody").append(tbody);
          },
          error: function() {
              $.Pop("发生异常",'alert',false);
          }
      });
  }
   function addComment(){
       $.ajax({
           type:"post",
           url: "http://127.0.0.1:8080/project/comment/add",
           xhrFields: {
               withCredentials: true
           },
           data:{
               newsId : newsId,
               comments :$("#txt_comment").val()
           },
           success:function(data){
               if (data.success) {
                   $("#txt_comment").val("");
                   getComment();
               }

           },
           error: function() {
               $.Pop("发生异常",'alert',false);
           }
       });
   }
    function getUrlParam(name) {//a标签跳转获取参数
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null) return  unescape(r[2]); return null;
    }
    function getDate(time){
        var date = new Date(time);
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        var day = date.getDate();
        var returnTime = year + "-" + month+"-" + day;
        return returnTime;
    }
</script>
</body>
</html>